@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html, body {
    margin: 0;
    padding: 0;

    font-size: 1.2em;
    background: #F3E9F1;

    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

$clr-deg1 : #DB8428;
$clr-deg2 : #8F5BFE;

$rad : 5px;

@mixin button {
    border: none;
    font-size: 1em;
    padding : 5px 20px;
    background: linear-gradient(to right, $clr-deg1, $clr-deg2);
    color: white;
    border-radius: 20px 20px;
    cursor: pointer;
}

.header {
    
    display: flex;
    justify-content: center;
    align-items: center;
   

    width: 90%;
    margin: auto;

    background-color: #F3E9F1;
    margin-top: 30px; //espace entre les menus

    &__logo {
       width: 300px;
       height: 130px;
       
       margin: 0 30px;

       img {
           width: 100%;
           height: 100%;
       }
    }

    &__nav {
        
        padding: 3px 15px;
        font-size: 1.1em;

        p {
            margin : 10px 0;
        }

        &--left {
            border-bottom: $clr-deg1 solid 2px;
            transition: all 0.5s;
        }

        &--left:hover {
            color: $clr-deg1;
        }

        &--right {
            transition: all 0.5s;
        }

        &--right:hover {
            color: $clr-deg2;  
        }
    }
}

.header--panier {
    &__nav--left {
        border-bottom: none;
    }

    &__nav--right {
        border-bottom: $clr-deg2 solid 2px;
        transition: all 0.5s;
    }

}

main {
    background: white;
    width: 70%;
    margin: auto;

    .titre {
        width: 100%;
        display: flex;
        justify-content: center;

        &--article {
            h1 {color: black;}
        }
    }

    h1 {
        font-size: 1.7em;
        text-align: center;    
        
        background-image: linear-gradient(to right, $clr-deg1, $clr-deg2);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;   
    }
}

.main__index {
    padding: 15px;


    border-top-left-radius: $rad $rad;
    border-top-right-radius: $rad $rad;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.template{
    display: none;
}

.display{
    display: inline;
}

.bloc {
    margin: 20px;
    text-align: center;
    border-radius: $rad $rad;
    box-shadow: rgba(109, 109, 109, 0.521) 1px 1px 9px;
    position: relative;
    z-index: 1;
    transition: all 0.3s;


    padding: 3px;

    &::after{
        opacity: 0;
        transition: all 0.3s;
        border-radius: $rad $rad;

        content: ""; 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right,$clr-deg1, $clr-deg2);

        z-index: -1;
    }

    &:hover {
        color: white;
        transform: scale(1.1);
        
        &::after{
            opacity: 1;
        }
    }
    &__image {
        width: 500px;
        height: 300px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            border-top-left-radius: $rad $rad;
            border-top-right-radius: $rad $rad;
        }

    }

    p {
        margin: 10px 0;
    }
}


.ariane {
    font-size: 0.8em;
    padding-left: 30px;
    padding-top: 7px;
    span {
        color: $clr-deg2;
    }
}

.imagArticle {
    width: 45%;
    height: 600px;
    
    box-shadow: rgba(85, 69, 69, 0.602) 3px 5px 9px;
    border-radius: $rad $rad;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: $rad $rad;
    }

    &--positionHirsh {
        object-position: 12% 0%;
    }
}

.blocArticle {
    margin: 30px 10px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;

    &__desc {
        width: 45%;
        
        form {
            font-size: 0.9em;
            margin : 80px 0;
        }

        .button {
            @include button;
        }

        .button:hover {
            box-shadow: rgba(98, 98, 98, 0.657) 2px 2px 7px;
        }
        .button:active {
            box-shadow: none;
        }

        .valid {
            font-size: 0.8em;
            color: $clr-deg2;
            margin-top: 10px;
            
            a {
                font-weight: bold;
                color: $clr-deg2;
            }
        }

        select {
            border: $clr-deg1 solid 2px;
            font-size: 0.9em;
            margin-left: 15px;
        }

        select:focus {
            border: $clr-deg2 solid 2px;
        }

        select:target {
            border: none;
        }
    }
}




footer {
    height: 300px;
}

@media screen and (max-width: 1500px) {
    main {
        width : 80%;
    }
}