@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html, body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  background: #F3E9F1;
  font-family: 'Raleway', sans-serif; }

a {
  text-decoration: none;
  color: black; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  background-color: #F3E9F1;
  margin-top: 30px; }
  .header__logo {
    width: 300px;
    height: 130px;
    margin: 0 30px; }
    .header__logo img {
      width: 100%;
      height: 100%; }
  .header__nav {
    padding: 3px 15px;
    font-size: 1.1em; }
    .header__nav p {
      margin: 10px 0; }
    .header__nav--left {
      border-bottom: #DB8428 solid 2px;
      transition: all 0.5s; }
    .header__nav--left:hover {
      color: #DB8428; }
    .header__nav--right {
      transition: all 0.5s; }
    .header__nav--right:hover {
      color: #8F5BFE; }

main {
  background: white;
  width: 70%;
  margin: auto; }
  main .titre {
    width: 100%;
    display: flex;
    justify-content: center; }
    main .titre--article h1 {
      color: black; }
  main h1 {
    font-size: 1.7em;
    text-align: center;
    background-image: linear-gradient(to right, #DB8428, #8F5BFE);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.main__index {
  padding: 15px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.template {
  display: none; }

.display {
  display: inline; }

.bloc {
  margin: 20px;
  text-align: center;
  border-radius: 5px 5px;
  box-shadow: rgba(109, 109, 109, 0.521) 1px 1px 9px;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  padding: 3px; }
  .bloc::after {
    opacity: 0;
    transition: all 0.3s;
    border-radius: 5px 5px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #DB8428, #8F5BFE);
    z-index: -1; }
  .bloc:hover {
    color: white;
    transform: scale(1.1); }
    .bloc:hover::after {
      opacity: 1; }
  .bloc__image {
    width: 500px;
    height: 300px;
    position: relative; }
    .bloc__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 5px 5px;
      border-top-right-radius: 5px 5px; }
  .bloc p {
    margin: 10px 0; }

.ariane {
  font-size: 0.8em;
  padding-left: 30px;
  padding-top: 7px; }
  .ariane span {
    color: #8F5BFE; }

.imagArticle {
  width: 45%;
  height: 600px;
  box-shadow: rgba(85, 69, 69, 0.602) 3px 5px 9px;
  border-radius: 5px 5px; }
  .imagArticle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px; }
  .imagArticle--positionHirsh {
    object-position: 12% 0%; }

.blocArticle {
  margin: 30px 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around; }
  .blocArticle__desc {
    width: 45%; }
    .blocArticle__desc form {
      font-size: 0.9em;
      margin: 80px 0; }
    .blocArticle__desc .button {
      border: none;
      font-size: 1em;
      padding: 5px 20px;
      background: linear-gradient(to right, #DB8428, #8F5BFE);
      color: white;
      border-radius: 20px 20px;
      cursor: pointer; }
    .blocArticle__desc .button:hover {
      box-shadow: rgba(98, 98, 98, 0.657) 2px 2px 7px; }
    .blocArticle__desc .button:active {
      box-shadow: none; }
    .blocArticle__desc .valid {
      font-size: 0.8em;
      color: #8F5BFE;
      margin-top: 10px; }

footer {
  height: 300px; }

@media screen and (max-width: 1500px) {
  main {
    width: 80%; } }

/*# sourceMappingURL=style.css.map */
