@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html, body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  background: #F3E9F1;
  font-family: 'Raleway', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

input:focus {
  outline: none; }

select:focus {
  outline: none; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  margin: auto;
  background-color: #F3E9F1;
  margin-top: 30px; }
  .header__logo {
    width: 300px;
    height: 130px;
    margin: 0 30px; }
    .header__logo img {
      width: 100%;
      height: 100%; }
  .header__nav {
    padding: 3px 15px;
    font-size: 1.1em; }
    .header__nav p {
      margin: 10px 0; }
    .header__nav--left {
      border-bottom: #DB8428 solid 2px;
      transition: all 0.5s; }
    .header__nav--left:hover {
      color: #DB8428; }
    .header__nav--right {
      transition: all 0.5s; }
    .header__nav--right:hover {
      color: #8F5BFE; }

.header--panier__nav--left {
  border-bottom: none; }
.header--panier__nav--right {
  border-bottom: #8F5BFE solid 2px;
  transition: all 0.5s; }

main {
  background: white;
  width: 70%;
  margin: auto; }
  main .titre {
    width: 100%;
    display: flex;
    justify-content: center; }
    main .titre--article h1 {
      color: black; }
    main .titre--panier {
      justify-content: left;
      padding-left: 30px; }
      main .titre--panier h1 {
        color: #353535; }
  main h1 {
    font-size: 1.7em;
    text-align: center;
    background-image: linear-gradient(to right, #DB8428, #8F5BFE);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.main__index {
  padding: 15px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.template {
  display: none; }

.display {
  display: inline; }

.bloc {
  margin: 20px;
  text-align: center;
  border-radius: 5px 5px;
  box-shadow: rgba(109, 109, 109, 0.521) 1px 1px 9px;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  padding: 3px; }
  .bloc::after {
    opacity: 0;
    transition: all 0.3s;
    border-radius: 5px 5px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #DB8428, #8F5BFE);
    z-index: -1; }
  .bloc:hover {
    color: white;
    transform: scale(1.1); }
    .bloc:hover::after {
      opacity: 1; }
  .bloc__image {
    width: 500px;
    height: 300px;
    position: relative; }
    .bloc__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 5px 5px;
      border-top-right-radius: 5px 5px; }
  .bloc p {
    margin: 10px 0; }

.ariane {
  font-size: 0.8em;
  padding-left: 30px;
  padding-top: 7px; }
  .ariane span {
    color: #8F5BFE; }

.imagArticle {
  width: 45%;
  height: 600px;
  box-shadow: rgba(85, 69, 69, 0.602) 3px 5px 9px;
  border-radius: 5px 5px; }
  .imagArticle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px; }
  .imagArticle--positionHirsh {
    object-position: 12% 0%; }

.blocArticle {
  margin: 30px 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around; }
  .blocArticle__desc {
    width: 45%; }
    .blocArticle__desc form {
      font-size: 0.9em;
      margin: 80px 0; }
    .blocArticle__desc .button {
      border: none;
      font-size: 1em;
      padding: 5px 20px;
      background: linear-gradient(to right, #DB8428, #8F5BFE);
      color: white;
      border-radius: 20px 20px;
      cursor: pointer;
      margin-top: 50px; }
    .blocArticle__desc .button:hover {
      box-shadow: rgba(98, 98, 98, 0.657) 2px 2px 7px; }
    .blocArticle__desc .button:active {
      box-shadow: none; }
    .blocArticle__desc .valid {
      font-size: 0.8em;
      color: #8F5BFE;
      margin-top: 10px; }
      .blocArticle__desc .valid a {
        font-weight: bold;
        color: #8F5BFE; }
    .blocArticle__desc select {
      border: #DB8428 solid 2px;
      font-size: 0.9em;
      margin-left: 15px; }
    .blocArticle__desc select:focus {
      border: #8F5BFE solid 2px; }

#prix {
  font-weight: bold;
  font-size: 1.5em; }

.bloc_acheter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(251, 251, 251, 0.678); }

.acheter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 700px;
  margin: auto;
  background: white;
  border: #777777 2px solid; }
  .acheter__texte {
    width: 100%;
    color: #8F5BFE;
    font-size: 1.3em;
    text-align: center; }
  .acheter__bouton {
    width: 50%;
    text-align: center; }
    .acheter__bouton:hover {
      color: white;
      background: #8F5BFE;
      cursor: pointer; }

.commande {
  border-top: solid 1px #8F5BFE;
  border-bottom: solid 1px #8F5BFE; }

.commande__ligne {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  border-bottom: 1px solid rgba(163, 163, 163, 0.61); }
  .commande__ligne__titre {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline; }
  .commande__ligne__qte {
    display: flex;
    align-items: center; }
  .commande__ligne__prix {
    display: flex;
    align-items: center;
    width: 15%; }
  .commande__ligne__del {
    display: flex;
    align-items: center; }

#plus, #moins {
  padding: 3px 10px;
  margin: 0 10px;
  background: #f0f0f0;
  border-radius: 10px;
  cursor: pointer; }

#lentille {
  color: #626262;
  padding-left: 20px;
  font-size: 0.9em; }

.panier__total {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  font-size: 1.3em;
  color: #8F5BFE; }

.panier__button {
  display: flex;
  justify-content: flex-end; }
  .panier__button button {
    border: none;
    font-size: 0.8em;
    padding: 7px 10px;
    border-radius: 2px;
    margin-right: 10px;
    color: white;
    background: #8F5BFE;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: opacity 0.5s, transform 1s, border-radius 0.5s; }
    .panier__button button::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: #DB8428;
      z-index: -1;
      border-radius: 15px 2px;
      opacity: 0;
      transform: scaleX(0);
      transition: opacity 0.5s, transform 1s, border-radius 0.5s; }
    .panier__button button:hover {
      border-radius: 15px 2px; }
      .panier__button button:hover::after {
        opacity: 1;
        transform: scaleX(1); }

.main--panier {
  padding-bottom: 30px; }

.formulaire__bouton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8em; }
  .formulaire__bouton__click {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #555454;
    transition: all 0.3s; }
    .formulaire__bouton__click:hover {
      color: #DB8428; }
  .formulaire__bouton i {
    padding: 0 10px; }

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .formulaire__bloc {
    display: flex;
    flex-direction: column;
    margin: 15px 0; }
  .formulaire__vide {
    font-size: 0.85em;
    font-family: inherit;
    padding: 7px;
    border-radius: 15px;
    border: #8F5BFE 2px solid; }
  .formulaire input[type=email]:valid {
    border-color: #27a700; }
  .formulaire input[type=email]:focus:invalid {
    border-color: #ff4545; }
  .formulaire input[type=submit] {
    border: none;
    font-size: 1.2em;
    font-family: inherit;
    background: #8F5BFE;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 30px;
    transition: all 0.3s; }
    .formulaire input[type=submit]:hover {
      background: #DB8428; }

.invalid {
  border-color: #ff4545; }

footer {
  height: 300px; }

@media screen and (max-width: 1500px) {
  main {
    width: 80%; } }
.displayNone {
  display: none; }

.flexCenter {
  justify-content: center;
  color: #252525; }

/*# sourceMappingURL=style.css.map */
